<footer class="navbar bg-dark">
    <div class="footer-copyright">
        <div class="container" style="color:aliceblue">
            All articles belong to and are sourced from  <a href="https://www.newyorktimes.com">The New York Times</a>
            <a href="/all">Articles</a>
        </div>
    </div>
</footer>