  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="text/javascript" href="/assets/JS/app.js">
    <title>Web Scraper</title>

</head>
<body>

    {{> navbar}}
  
    <div class="container">  
        <div class="jumbotron">
            <img src="https://www.worthingtonlibraries.org/sites/default/files/styles/teaser_standard/public/images/databases/new_york_times_historical_newspapers.jpg?h=9f37d12d&itok=XnCdoUpM" />
        </div>

        {{{ body }}}
        
    </div>

    {{> footer}}

</body>
</html>